@import "tailwindcss";
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-SemiBoldItalic.ttf") format("woff2"),
    url("/font/Poppins-Thin.ttf") format("woff2"),
    url("/font/Poppins-ThinItalic.ttf") format("woff2");
}
